body{
    background-color: #daf7f4;
}
#svyrjetesesnas{
    font-size: 45px;
}
#vl {
    border-left: 3px solid green;
    height: 250px;
    left: 50%;
    margin-left: -100px;
  }
  #button{
    background-color:#f76f76;
    font-style: italic;
  }
  .container {
    flex-wrap: wrap ;
  }